#title {
    text-align: center;
    color: #76BA99;
    margin-bottom: 40px;
    font-weight: bold;
}

img {
    /* 상우하좌 */
    margin: 10px 30px 50px 30px;
    /* margin: 0 auto; */
}

form{
    /* align-items: center; */
    margin: 0 auto;
    width: 500px;
    border: none;
    text-align: center;
}

#modify {
    background-color: #70AF85;
    border: none;
    margin: 10px;
}

.name {
    font-size: 20px;
}

@media all and (max-width: 768px){

    #title {
        text-align: center;
        color: #76BA99;
        margin-bottom: 25px;
        font-weight: bold;
    }

    /*#profile-form{*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*    font-size: 10px;*/
    /*    margin: 0 auto;*/
    /*}*/

    form{
        /* align-items: center; */
        /*margin: 0 auto;*/
        width: 100%;
        border: none;
        text-align: center;
    }

    img {
        margin: 10px 30px 30px 30px;
        /*margin: 0 auto;*/
        width: 150px;
        height: 150px;
    }

    .name {
        font-size: 16px;
    }

    #modify{
        font-size: 14px;
        margin: 10px;
    }

    #input-value{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}